*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.full-screen{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("pic1.jpg");
  background-size:cover;
  background-attachment: fixed;
  color:white;

}
body{
  font-family: 'Lilita One', cursive;
}
.top-content{
  width:100%;
}
.top{
  height:50px;
  background-color: transparent;
}
.top-left{
  padding: 15px;
}
.middle{
  text-align: center;
}
#text{
  font-size: 20px;
  color:#ffed89;
  font-style: normal;
}
.bottom{
  padding: 1rem;
}
.menu a{
  font-weight: bold;
}
h1{
  font-family: 'Lilita One', cursive;
  padding-bottom: 5px;
  font-size: 50px;
  animation-name: moveleft;
  animation-duration: 1s;
}
h3{
  font-family: 'Nunito', sans-serif;
  margin:5px 0px 10px 0px;
}
.button-large{
  color:white;
  border-radius: 5px;
  height:50px;
  width:150px;
  border-color: black;
  background-color: transparent;
  margin-top: 5px;
    font-family: 'Lilita One', cursive;
    font-size: 18;
}
svg {
  height: 3.75rem;
  width: 3.75rem;
  animation-name: moveleft;
  animation-duration: 3s;
  fill: #fefefe;
}
#main{
  color:white;
  background-color: black;
  -height: 50px;
  -display:flex;

}
.ncursor{
  cursor: none;
}
#main-about{
  padding-top: 10px;
  color:black;
  background-color: rgb(242, 246, 252);
  height:500px;
  -display:flex;
  -justify-content: center;
  -flex-direction: column;

  padding: 30px;
}
.intro{
  display: flex;
  justify-content:center;
  font-size: 2.5em;
}
.intro2{
  display: flex;
  justify-content:center;
  padding: 15px;
}
.about1{
  height:300px;
  width:300px;
  float:left;
  margin-right: 20px;
  font-size: 20px;
}
.about2{
  display: flex;
  justify-content: flex-end;
}
.about3{
  height:100px;
  width:100px;
  float:left;
}
.dimg{
  height:300px;
}
.name{
  color:orange;
  display: inline-block;
}
#main-skill{
  height: 300px;
  background-color:#57e589;
  color:black;

}
#sintro{
  font-size: 2.5em;
  text-align: center;
  padding: 15px;
}
.center{
 position:relative;
 display: flex;
 justify-content: center;
}
.skill1{

  width:100px;
  float: left;
  padding: 15px;
  margin:30px;
  display: block;
}
.skill2{
  display: block;
  width:100px;
  float: left;
}
.contain{
  width:100%;
}
progress{
  background-color:orange;
  height:3px;
  float:left;
  width:100%;
}
.d-skill{
  float: left;
}
.Quora{
  background-color: white;
  height:500px;
  color:black;
}
.writer{
color: black;
text-align: center;
padding: 0px 15px 0px 2px;
}
.qname{
  font-size: 2em;
  color:#c70808;
  text-align: center;
}
.bestans{
  height:200px;
  width:200px;
  background-color: rgb(237, 243, 252);
  float:left;
  margin: 15px 10px 10px 10px;
}
.qans{
  height:200px;
  width:200px;
  color:#c70808;
  float:left;
  padding:8px;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}
.stats{
  float:right;
  height:140px;
  width:300px;
  font-size: 1.25em;
  margin:60px 0px 0px 0px;
}
.stats1{
  float:left;
  padding: 4px;
}
.stats2{
  float:left;
  padding: 4px;
}
.numbox{
  height:15px;
  background-color: grey;
}
.contact{
  margin :15px;
  text-align: center;
  font-size: 2.5em;
}
#addr{
  height:auto;
  width:auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-contact{
  background-color:r#f9c366;
  height:500px;
  border:none;
}
#phone{
  color:white;
  float:left;
  margin: 15px;

}
.address{
  color:white;
  float:left;
  margin: 15px;

}
.mapouter
{
  position:;text-align:right;height:300px;width:350px;
  border:1px solid rgb(244, 248, 255);
}
.gmap_canvas
{
  overflow:hidden;background:none!important;height:300px;width:350px;
}
.map{
  display:flex;
  justify-content: center;
}
#byebye{
  background:white;
  padding: 5px;
}
div > p{
  -animation-name: moveleft;
  -animation-duration: 1s;
}
h3::selection,h1::selection{
  background-color: black;
  color:orange;
}
a{
  text-decoration:none;
  color: white;
}
-a:link{
  color:orange;
}
 button:hover{
  background-color: orange;
}
a:hover{
  color:orange;
}
svg:hover{
    fill:orange;
}
@keyframes moveleft {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes up {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }

}
#git{
  height:50px;
  width: 50px;
  border:1px solid transparent;
  padding: 5px;
  -padding-bottom: 10px;
}
.icons img:hover{
  background-color:orange;
}
.quora{
  height:50px;
  width:50px;
}
.icon{
  height:64px;
  width: 64px;
  border:1px solid transparent;
}
.git{
  height:25px;
  width: 34px;
  border:1px solid transparent;
}
@media(min-width: 1200px){
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
  }
  .col-lg-1 {
    width:8.33%;
  }
  .col-lg-2 {
    width:16.66%;
  }
  .col-lg-3 {
    width:25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5{
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width:83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 444px) and (max-width: 992px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  }

  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .simg{
    display: none;
    justify-content: flex-end;
    width:100px;
  }
  .sabout1{
    padding: 5px;
  }
  .sintro{
    font-size: 2em;
  }
  .sstats{
    float:left;
  }

}
@media (max-width: 443px) {
  .squora{
    height: 700px;
  }
  .simg{
    display: none;
    justify-content: flex-end;
    width:100px;
  }
  .sabout1{
    padding: 5px;
  }
  .sintro{
    font-size: 2em;
  }
  .sstats{
    float:left;
       margin: 15px;
  }
  .sbestans{
    margin: 15px;
    display: block;
  }
  .scontact{
    height:500px;
  }
  .smap{
    display: flex;
    justify-content: center;

  }
}
