*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.full-screen{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("pic1.jpg");
  background-size:cover;
  color:white;
}
body{
  font-family: 'Lilita One', cursive;

}
.top-content{
  width:100%;
}
.top{
  height:50px;
  border: 1px solid black;
  background-color: black;
}
.top-left{
  padding: 15px;
}
.middle{
  text-align: center;

}
.bottom{
  padding: 1rem;
}
.menu a{
  font-weight: bold;
}
h1{
  font-family: 'Lilita One', cursive;
  padding-bottom: 5px;
  font-size: 50px;
  animation-name: moveleft;
  animation-duration: 1s;
}
h3{
  font-family: 'Nunito', sans-serif;
  margin:5px 0px 10px 0px;
}
.button-large{
  color:white;
  border-radius: 5px;
  height:50px;
  width:150px;
  border-color: black;
  background-color: black;
  margin-top: 5px;
    font-family: 'Lilita One', cursive;
    font-size: 18;
}
svg {
  height: 3.75rem;
  width: 3.75rem;
  animation-name: moveleft;
  animation-duration: 3s;
  fill: #fefefe;
}

h3::selection,h1::selection{
  background-color: black;
  color:orange;
}
a{
  text-decoration:none;
  color: white;
}
a:link{
  color:orange;
}
 button:hover{
  background-color: orange;
}
a:hover{
  color:orange;
}
svg:hover{
    fill:orange;
}
@keyframes moveleft {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes up {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }

}
#git{
  height:50px;
  width: 50px;
  border:1px solid transparent;
  padding: 5px;
  -padding-bottom: 10px;
}
hover:icons{
  color:orange;
}
#quora{
  height:50px;
  width:50px;
}
.icon{
  height:64px;
  width: 64px;
  border:1px solid transparent;
}
.git{
  height:25px;
  width: 34px;
  border:1px solid transparent;
}
